<div class="container" style="text-align:center">
    <h1> 당신이 좋아하는 웹툰만 남겨보세요~</h1>
    <% @content.each do |y| %>
        <%= y.content %>
        <a href="/webtoon/destroy/<%= y.id %>"> <button type="button" class="btn btn-secondary">삭제</button> </a>
        <a href="/webtoon/edit/<%= y.id %>"> <button type="button" class="btn btn-secondary">수정</button> </a>
        <br>
    <% end %>
</div>